.chat-application {
  height: 50%;
  border-bottom: 1px solid #CDCECF;
  width: 100%;
  padding: 14px 8px;
  box-sizing: border-box;

  &__list {
    overflow-y: scroll;
    height: 95%;
  }
  .title {
    font-size: .85rem;
    margin: 0;
    padding-left: 12px;
    font-family: 'Montserrat-Medium';
    margin-bottom: 12px;
  }

  .applications-item {
    margin-bottom: 12px;
    background-color: #F8F8F8;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 10px 14px;

    &__status {
      display: flex;

      div {
        display: flex;
        margin-bottom: 4px;

        span {
          font-size: .8rem;
          font-family: 'Montserrat-Medium';
          color: #CDCECF;
        }

        img {
          margin-left: 4px;
        }

        .accept {
          color:  #219653;
        }

        .decline {
          color: #EB5757;
        }
      }
    }

    h4 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      color: #3B3B3B;
      margin: 0;
      font-family: 'Montserrat-Medium';
      font-size: .85rem;
    }

    h5 {
      width: 80%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      color: #3B3B3B;
      margin: 0;
      font-family: 'Montserrat-Regular';
      font-size: .8;
      margin-top: 4px;
    }

    h6 {
      margin: 0;
      margin-top: 8px;
      color: #CDCECF;
      width: 100%;
      font-size: .8;
      font-family: 'Montserrat-Regular';
    }
  }
}