@import "../../../styles/variables.scss";

.property-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  header {
    h1 {
      text-align: center;
      font-family: "Coolvetica-Regular";
      font-size: 2.25rem;
      font-weight: 400;
      color: $main-title;
      margin: 0;
    }
  }

  &__media {
    width: 100%;
    margin-top: 18px;

    span {
      font-family: "Coolvetica-Regular";
      font-size: .95rem;
      margin: 0;
      font-weight: 400;
      color: #3B3B3B;
      padding-bottom: 16px;
      display: block;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .property-main-info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 48px;

      .input,
      .select-block {
        margin-right: 20px;
        width: 136px;

        select {
          background-color: transparent;
        }
      }

      .input-checkbox {
        margin-left: 20px;
      }

      @media (max-width: 500px) {
        flex-direction: column;
      }
    }

    .input,
    .select-block {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 20px;

      @media screen and (max-width: 500px) {
        width: 300px;
      }

      &.property-address-input {
        width: 36%;

        @media (max-width: 500px) {
          width: 300px;
          max-width: 100%;
          margin: 0;
        }
      }

      &.property-type {
        width: 220px;

        @media (max-width: 500px) {
          width: 300px;
          max-width: 100%;
          margin: 0;
        }

        select {
          background-color: transparent;
        }
      }

      &.property-name-input {
        width: 36%;

        @media (max-width: 500px) {
          width: 300px;
          max-width: 100%;
          margin: 0;
        }
      }

      .select-block__label,
      .input-label {
        color: $main-title;
        font-family: "Montserrat-Medium";
        font-size: 0.85rem;
        padding: 0 0 8px 0;
      }

      .input-field {
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 12px 14px;
        font-size: 0.85rem;
        color: $main-title;
        font-family: "Montserrat-Regular";

        &:focus {
          outline: none;
          border: 1px solid $primary;
        }
      }
    }

    .property-media-input,
    .amenities,
    .property-description {
      width: 100%;
      margin-top: 48px;
      max-width: 100%;
      padding: 0;

      p,
      .input-label {
        font-family: "Coolvetica-Regular";
        font-size: .95rem;
        margin: 0;
        font-weight: 400;
        color: $main-title;
        padding-bottom: 16px;
      }

      .input-field {
        &#property-description {
          resize: none;
          height: 120px;
        }
      }
    }

    .property-description {
      padding-bottom: 20px;
    }

    .navigation-buttons {
      margin-top: 28px;
    }
  }

  @media (max-width: $tablet) {
    padding: 0 20px 20px;
  }

}
