@import '../../styles/variables.scss';

.login {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  height: 100%;

  @media (min-width: $tablet) {
    padding: 110px 0;
  }

  header {
    margin-bottom: 48px;

    h1 {
      font-size: 2.3rem;
      font-family: 'Coolvetica-Regular';
      color: $main-title;
      text-align: center;
      margin: 14px 0;
    }

    p {
      font-family: 'Montserrat-Regular';
      color: $main-title;
      font-size: 0.85rem;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;

    @media (min-width: $tablet) {
      width: 360px;
      padding: 0 10px;
    }

    .input {
      position: relative;
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;

      .input-label {
        color: $main-title;
        font-family: 'Montserrat-Medium';
        font-size: 0.85rem;
        padding: 0 0 8px 0;
      }

      .input-field {
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 12px 14px;
        font-size: 0.85rem;
        color: $main-title;
        font-family: 'Montserrat-Regular';

        &:focus {
          outline: none;
          border: 1px solid $primary;
        }
      }

      .input-with-icon {
        display: flex;
        align-items: center;

        .input-field {
          border: 1px solid #efefef;
          border-radius: 8px;
          width: 100%;
          padding: 12px 14px;
          font-size: 0.85rem;
          color: $main-title;
          font-family: 'Montserrat-Regular';

          &:focus {
            outline: none;
            border: 1px solid $primary;
          }
        }

        button {
          align-items: center;
          display: flex;
          background-color: transparent;
          position: absolute;
          right: 0;

          &:focus {
            outline: none;
          }
        }
      }
    }
    .sign-up-block {
      display: flex;
      align-items: center;
      p {
        font-family: 'Montserrat-Regular';
        font-size: 0.85rem;
        color: #000;
        margin: 0;
      }
    }

    .login-btn {
      width: 220px;
      border-color: transparent;
      margin: 28px 0 20px 0;
    }
  }
}
