@import '../../../styles/variables.scss';

.listing-preview {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  @media screen and (max-width: 1024px) {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0 60px 60px;
  }

  &.list-view {
    padding-top: 60px;
  }

  header {
    width: 100%;
    margin-bottom: 24px;

    h1 {
      text-align: center;
      font-family: 'Coolvetica-Regular';
      font-size: 2.25rem;
      font-weight: 400;
      color: $main-title;
      margin: 0;
    }
  }

  &__content {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 48px;

    .content-header {
      display: flex;
      justify-content: space-between;

      .main-info {
        h2 {
          font-family: 'Coolvetica-Regular';
          font-size: 2.25rem;
          font-weight: 700;
          line-height: 44px;
          color: $main-title;
          margin: 0;
        }

        p {
          font-family: 'Montserrat-Regular';
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 28px;
          color: $main-title;
          margin: 8px 0;
        }
      }

      .actions {
        display: flex;
        position: relative;

        img {
          width: 35px;
          height: 41px;
          vertical-align: middle;
          margin-right: 30px;

          &:hover {
            cursor: pointer;
          }
        }

        .share-property {

        }

        .author-block {
          display: flex;
          flex-direction: column;
          align-items: center;

          .author {
            font-family: 'Montserrat-Regular';
            font-weight: 400;
            font-size: 0.85rem;
            color: $main-title;
            padding-top: 12px;
          }
        }
      }
    }

    .media-carousel {
      height: 500px;
      position: relative;

      .image-container {
        height: 500px;

        .property-img,
        .unit-img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          object-fit: cover;
        }
      }

      .carousel.carousel-slider {
        border-radius: 8px;

        .control-arrow {
          top: 45%;
          color: #fff;
          font-size: 26px;
          padding: 5px;
          border-radius: 50%;
          width: 52px;
          height: 52px;
          background-color: rgba(255, 255, 255, 0.5);
          margin: 0;

          &::before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 1px 0;
            margin: 0;
          }

          &.control-next {
            padding-top: 10px;
            padding-right: 15px;
            margin-right: 10px;

            &::before {
              border-top: 3px solid $main-title;
              border-left: 3px solid $main-title;
              border-bottom: 3px solid transparent;
              border-right: 3px solid transparent;
              transform: rotate(135deg);
            }
          }

          &.control-prev {
            padding-top: 10px;
            padding-left: 15px;
            margin-left: 10px;

            &::before {
              border-top: 3px solid $main-title;
              border-right: 3px solid $main-title;
              border-bottom: 3px solid transparent;
              border-left: 3px solid transparent;
              transform: rotate(-135deg);
            }
          }
        }
      }

      .photos-count {
        width: max-content;
        font-family: 'Montserrat-Regular';
        font-size: 0.85rem;
        font-weight: 400;
        cursor: default;
        background-color: #fff;
        border: 1px solid #efefef;
        border-radius: 16px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
        position: absolute;
        bottom: 15px;
        margin-right: auto;
        margin-left: 45%;
        padding: 6px 22px;
      }

      @media (max-width: $tablet) {
        height: 250px;

        .image-container {
          height: 250px;
        }
      }
    }

    .units-info {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-right: 10%;

      .options-controls {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .rent-option {
          height: 100%;
          background-color: $primary-grey;
          font-family: 'Montserrat-Medium';
          font-size: 0.95rem;
          font-weight: 600;
          color: #cdcecf;
          border: 1px solid #efefef;
          border-bottom: 0;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          padding: 16px 22px;

          &:first-child {
            margin-right: 1px;
          }

          &.active {
            background-color: transparent;
            color: #000;
          }

          &:focus {
            outline: none;
          }
        }

        .select-block {
          display: flex;
          flex-direction: row;
          width: fit-content;
          padding-bottom: 8px;
          margin: 0 0 0 auto;

          label {
            height: 16px;
            white-space: nowrap;
            padding: 12px 8px 12px 0;
          }

          .select-with-icon select {
            width: 170px;
            background-color: transparent;
          }
        }

        &.mobile {
          flex-direction: column-reverse;
          justify-content: flex-start;

          .rent-option {
            border: 1px solid #efefef;
            border-radius: 26px;

            &:first-child {
              margin-right: 12px;
            }
          }

          .select-block {
            margin: 0;
          }
        }
      }

      @media (max-width: 965px) {
        margin-right: 0;
      }
    }

    .campus-distanse,
    .property-description,
    .amenities {
      margin-top: 48px;

      h3,
      p {
        font-family: 'Coolvetica-Regular';
        font-size: 1.25rem;
        font-weight: 700;
        color: $main-title;
        padding-bottom: 16px;
        margin: 0;
      }

      span {
        font-family: 'Montserrat-Regular';
        font-size: 0.85rem;
        font-weight: 400;
        color: $main-title;
      }

      .distanses-list {
        display: flex;

        .distanse {
          margin-right: 65px;

          img {
            vertical-align: middle;
          }
        }
      }
    }

    .amenities-list .amenity-option {
      img:hover {
        cursor: default;
      }
    }
  }

  &.create-preview .listing-preview__content {
    border: 1px solid #efefef;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 48px 32px 48px;
  }

  &.list-view .listing-preview__content {
    padding: 48px 32px 48px;
  }

  @media (max-width: $sm-desktop) {
    padding: 0 0 60px;

    .content-header {
      flex-direction: column-reverse;

      .actions {
        justify-content: flex-end;
      }
    }
  }
}
