@import '../../../styles//variables.scss';

.rental-history {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  
  .title {
    font-size: 1.25rem;
    font-family: 'Coolvetica-Regular';
    color: $main-title;
    text-align: center;
    margin: 14px 0;
    margin-bottom: 28px;
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;

   
    div {
      display: flex;
      flex-direction: column;
      min-width: 380px;
      // flex: 1;
    }


    .line {
      align-self: start;
      margin: 0 36px;
      width: 1px;
      min-width: 1px;
      height: calc(100% - 20px);
      border-left: 1px solid #EFEFEF;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 48px;
    flex-direction: row;

    .btn {
      padding: 14px 34px;
    }

    .back-button,
    .draft-button {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;
    }

    .back-button {
      margin: 0 auto 0 0;
    }

    .next-button {
      margin-left: 12px;
    }
  }
}
