@import "../../styles/variables.scss";

.property-list-view {
  height: 100%;
  // max-height: 85vh;
  overflow-y: auto;
  display: flex;
  flex: 0.4;
  flex-direction: column;
  padding: 0px 8px 8px 8px;
  margin-bottom: 8px;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .property-list-view {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .property-card {
    margin-top: 8px;
  }

  .loader-block {
    position: relative;
    z-index: 0;
    height: auto;
    width: auto;
  }
}
