@import "../../styles/variables.scss";

.my-property-info {
  display: flex;
  flex-direction: column;

  .property-info-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;

    .header-actions {
      position: relative;
      display: flex;
      width: 100%;
      box-sizing: border-box;
      justify-content: space-between;
      margin: auto 0;
      padding: 0 20px 20px;

      .input-toggle {
        height: fit-content;
        margin: auto 20px auto 0;
      }

      .show-more {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: transparent;
        padding: 3px;
        margin: auto 0;

        &.active,
        &:hover {
          background-color: #f8f8f8;
        }

        &:focus {
          outline: none;
        }
      }

      .delete-property {
        position: absolute;
        top: 38px;
        right: 10px;
        font-family: "Montserrat-Regular";
        font-size: .85rem;
        font-weight: 400;
        color: $error;
        background-color: #fff;
        border: 1px solid #efefef;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 14px 18px;

        img {
          vertical-align: middle;
          padding-right: 8px;
        }
      }

      @media (min-width: 576px) {
        width: fit-content;
        padding: 0 0 0 20px;
      }
    }
  }

  .my-property-view-wrapper {
    background-color: #e5e5e5;
    height: 100%;
    overflow-y: scroll;
    padding: 16px 0;

    @media (min-width: 576px) {
      padding: 16px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .property-list-view {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

  }
}

.no-property-to-display {
  width: 100%;
  padding: 40px;

  .no-property-text {
    display: inline-block;
    width: 100%;
    font-family: "Coolvetica-Regular";
    font-size: 2.25rem;
    font-weight: 700;
    color: $main-title;
    text-align: center;
  }
}