@import "../../../styles/variables.scss";

.add-property-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 60px;

    header {
        padding-bottom: 32px;

        h1 {
            text-align: center;
            font-family: "Coolvetica-Regular";
            font-size: 2.25rem;
            font-weight: 400;
            color: $main-title;
            margin: auto auto 35px;
        }

        .unit-options-btns {
            @media screen and (max-width: 550px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .btn {
                width: 180px;
                background-color: transparent;
                border: 1px solid #efefef;
                border-radius: 26px;
                color: $main-title;

                &.single-unit-btn {
                    margin-right: 20px;

                    @media screen and (max-width: 550px) {
                        margin: 0 0 20px;
                    }
                }

                &.active {
                    background-color: $primary_light;
                    border-color: $primary;
                    color: $primary;
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input,
        .select-block { 
            display: flex;
            flex-direction: column;
            width: 380px;
            position: relative;
            padding-bottom: 20px;

            @media screen and (max-width: 550px) {
                width: 290px;
            }

            select {
                background-color: transparent;
            }

            .input-label,
            .select-block__label {
                color: $main-title;
                font-family: 'Montserrat-Medium';
                font-size: 0.85rem;
                padding: 0 0 8px 0;
            }

            .input-field {
                border: 1px solid #efefef;
                border-radius: 8px;
                padding: 12px 14px;
                font-size: 0.85rem;
                color: $main-title;
                font-family: 'Montserrat-Regular';

                &:focus {
                    outline: none;
                    border: 1px solid $primary;
                }
            }
        }

        .bnb-inputs {
            display: flex;
            
            .select-block {
                width: 180px;

                @media screen and (max-width: 550px) {
                    width: 138px;
                }

                &:first-child {
                    margin-right: 20px;
                }

                .select-with-icon {
                    select {
                        background-color: transparent;
                    }
                }
            }
        }

        .add-property-btn {
            width: 100%;
            border-color: transparent;
            margin-top: 30px;
        }
    }
}
