@import '../../styles//variables.scss';

.create-new-password,
.success-create-new-password {
  display: flex;
  flex-direction: column;
  padding: 110px;
  align-items: center;
  height: 100%;

  header {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.3rem;
      font-family: 'Coolvetica-Regular';
      color: $main-title;
      text-align: center;
      margin: 14px 0;
    }

    p {
      font-family: 'Montserrat-Regular';
      color: $main-title;
      font-size: 0.85rem;
      text-align: center;
      width: 320px;
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 0 10px;

    .input {
      position: relative;
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;

      .input-label {
        color: $main-title;
        font-family: 'Montserrat-Medium';
        font-size: 0.85rem;
        padding: 0 0 8px 0;
      }

      .input-with-icon {
        display: flex;
        align-items: center;

        .input-field {
          border: 1px solid #efefef;
          border-radius: 8px;
          width: 100%;
          padding: 12px 14px;
          font-size: 0.85rem;
          color: $main-title;
          font-family: 'Montserrat-Regular';

          &:focus {
            outline: none;
            border: 1px solid $primary;
          }
        }

        button {
          align-items: center;
          display: flex;
          background-color: transparent;
          position: absolute;
          right: 0;

          &:focus {
            outline: none;
          }
        }
      }
    }
    .create-new-password-btn {
      width: 220px;
      border-color: transparent;
      margin: 28px 0 0;
    }
  }
}

.success-create-new-password {
  header {
    margin-bottom: 32px;
  }
  
  .sign-in-btn {
    width: 240px;
    border-color: transparent;
  }
}