@import "../../../styles//variables.scss";

.navigation-dots {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
        display: flex;
        justify-content: center;

        li {
            border-radius: 9999px;
            height: 8px;
            width: 8px;
            background-color: #efefef;
            margin: 22px 15px;

            &.completed, 
            &.active {
                background-color: $primary;
            }

            &.active {
                width: 10px;
                height: 10px;
            }
        }
    }
}
