@import '../../styles/variables.scss';
.dashboard {
  width: 100%;
  background-color: #f8f8f8;
  height: 100%;
  display: contents;

  .show_content {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 12px 20px;

    &__button {
      height: 100%;
      background-color: $primary-grey;
      font-family: 'Montserrat-Medium';
      font-size: 0.95rem;
      font-weight: 600;
      color: #cdcecf;
      border: 1px solid #efefef;
      border-radius: 26px;
      padding: 16px 22px;

      &:first-child {
        margin-right: 12px;
      }

      &.active {
        background-color: transparent;
        color: #000;
      }

      &:focus {
        outline: none;
      }
    }
  }


  .properties-container {
    height: auto;
    overflow: hidden;
    display: flex;
    flex: 1;
    height: calc(100% - 120px);

    @media (max-width: 1024px) {
      .property-map-view.visible,
      .property-list-view.visible {
        width: 100%;
        flex: 1;
      }

      .property-map-view.visible {
        padding: 0 8px 8px;
      }

      .property-list-view.hidden {
        padding: 0;
      }

      .property-map-view.hidden,
      .property-list-view.hidden {
        width: 0;
        flex: 0;
      }

      .property-map-view.visible,
      .property-list-view.hidden {
        transition: width .1s ease-in, flex .1s ease-in;
      }

      .property-map-view.hidden,
      .property-list-view.visible {
        transition: width .1s ease-out, flex .1s ease-out;
      }
    }
  }
}
