@import "../../styles//variables.scss";

.view-media {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;

  img{
    width: 120px;
    height: 116px;
    border-radius: 8px;
    margin-right: 5px;
  }
}