@import '../../styles/variables.scss';

.email-was-sent {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
  align-items: center;
  justify-content: center;
  height: 80%;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;

    h1 {
      font-size: 2.3rem;
      font-family: 'Coolvetica-Regular';
      color: $main-title;
      text-align: center;
      margin: 0;
    }

    p {
      font-family: 'Montserrat-Regular';
      color: $main-title;
      font-size: .85rem;
      text-align: center;
      width: 100%;
      margin: 0;
      margin-top: 28px;

      @media (min-width: $tablet) {
        width: 320px;
      }

      span {
        font-family: 'Montserrat-Medium';
        color: $primary;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;

    @media (min-width: $tablet) {
      width: 360px;
    }

    .email-was-sent-btn {
      width: 220px;
      border-color: transparent;
      margin: 28px 0  0;
    }
  }
}