@import "../../styles/variables.scss";

.my-properties-list {
  border-right: 1px solid #e5e5e5;

  .search-input {
    padding: 16px;

    img {
      vertical-align: middle;
    }

    .input-field {
      width: 100%;
    }
  }

  .show-option-buttons {
    display: flex;
    justify-content: flex-start;
    padding: 0 16px;

    .property-option {
      background-color: $primary-grey;
      font-family: 'Montserrat-Medium';
      font-size: 0.95rem;
      font-weight: 600;
      color: #cdcecf;
      border: 1px solid #efefef;
      border-bottom: 0px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 16px 22px;

      &:first-child {
        margin-right: 1px;
      }

      &.active {
        background-color: transparent;
        color: #000;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .properties-wrapper,
  .properties,
  .no-properties {
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .property-list-view {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .properties {
    border-top: 1px solid #efefef;
    padding: 0 16px 16px;
    overflow-y: scroll;
  }

  .no-properties {
    display: block;
    font-family: "Montserrat-Regular";
    font-size: .95rem;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
  }

  &.sm-mobile,
  &.mobile,
  &.tablet,
  &.sm-desktop {
    position: absolute;
    display: none;
    width: 100%;
    max-width: 380px;
    z-index: 20;
    background-color: #fff;

    &.active {
      display: block;
      transition: display .3s ease-out;
    }
  }

  .search-input {
    padding-top: 36px
  }
}