@import '../../styles/variables.scss';

.boolean-checkbox {
  padding-bottom: 20px;

  .title-checkbox {
    color: #3b3b3b;
    font-family: 'Montserrat-Medium';
    font-size: 0.95rem;
    padding: 0 0 16px 0;
  }

  .boolean-checkboxes {
    display: flex;
    flex-direction: row;

    .container {
      margin-right: 26px;
      display: flex;
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      align-items: center;
    }

    .answer {
      font-size: 0.85rem;
      font-family: 'Montserrat-Regular';
      padding-top: 2px;
    }

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border: 2px solid $primary;
      border-radius: 50%;
    }

    .container:hover input ~ .checkmark {
      background-color: $primary;
    }

    .container input:checked ~ .checkmark {
      background-color: #fff;
    }

    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }

    .container input:checked ~ .checkmark:after {
      display: block;
    }

    .container .checkmark:after {
      top: 2px;
      left: 2.35px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $primary;
    }
  }
}
