@import '../../../styles/variables.scss';

.conversations-list {
  height: 100%;
  border-left: 1px solid #CDCECF;
  border-right: 1px solid #CDCECF;
  width: 25%;
  padding: 14px 8px;

  .search-input {
    width: 90%;
    margin: auto;

    img {
      vertical-align: middle;
    }

    .input-field {
      width: 100%;
    }
  }

  header {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
    padding-top: 8px;

    button {
      background-color: transparent;
      font-family: 'Montserrat-Regular';
      font-size: .85rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}