@import '../../../styles/variables.scss';

.conversations-lis-item { 
  display: flex;
  padding: 16px;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;

  &__left {
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    h4 {
      font-family: 'Montserrat-Medium';
      font-size: .95rem;
      color: $main-title;
      margin: 0;
      padding-bottom: 8px;
    }
    h5 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      font-family: 'Montserrat-Regular';
      font-size: .85rem;
      color: $main-title;
      margin: 0;
    }
    
    .unread-message {
      font-family: 'Montserrat-Medium';
    }
  }

  &:hover {
    background: #F8F8F8;
    cursor: pointer;
  }

  &:hover .delete-conversation-button{
    z-index: 20;
    display: flex;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .unread-circle {
      background-color: $error;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      align-self: flex-end;
      margin-top: 8px;
    }
    h5 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      font-family: 'Montserrat-Regular';
      font-size: .85rem;
      color: $main-title;
      margin: 0;
      align-self: flex-end;
    }
  }

  .delete-conversation-button {
    display: none;
    position: absolute;
    right: 15px;
    background-color: #ffffff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    // display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;

    &:hover {
      background-color: $error;
      cursor: pointer;
    }
  }
}

.message-list-active {
  background-color: #F1F2FC;
}