@import '../../styles//variables.scss';

.select-block {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;

  .select-block__label,
  .input-label {
    color: $main-title;
    font-family: 'Montserrat-Medium';
    font-size: 0.85rem;
    padding: 0 0 8px 0;
  }

  .input-field {
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 14px;
    font-size: 0.85rem;
    color: $main-title;
    font-family: 'Montserrat-Regular';

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }
}
.image-type-selector {
  display: flex;
  &-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-left: 12px;

    span {
      font-size: 0.85rem;
      color: $primary;
      font-family: 'Montserrat-Medium';
    }

    &:focus {
      outline: none;
    }
  }
}
.selector {
  input {
    &:hover {
      cursor: pointer;
    }
  }

  .selector-handle-button {
    position: absolute;
    right: 0px;
    top: 33px;
    background-color: transparent;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  .without-label {
    top: 6px;
  }
  
  .options {
    max-height: 196px;
    overflow-y: scroll;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    z-index: 20;
    width: 100%;
    top: 70px;
    box-sizing: border-box;
  }

  ul {
    padding: 0;
    margin: 0;

    .selected {
      font-family: 'Montserrat-Medium';
    }
    label {
      padding-left: 14px;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 14px;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }

      span {
        font-family: 'Montserrat-Regular';
        font-size: 0.85rem;
        color: $main_title;
      }
    }
    .li-multiselect {
      &:hover {
        cursor: default;
        opacity: 1;
      }
    }
  }
}
