@import '../../styles/variables.scss';

table,
th,
td {
  // width: auto; //single-unit
  text-align: left;
  font-family: 'Montserrat-Regular';
  font-size: 0.85rem;
  font-weight: 400;
  color: $main-title;
  border-top: 1px solid #efefef;
  padding: 10px 14px;
}

//single-unit-start
.apply-btn {
  padding: 14px 24px;
  margin: auto auto 20px 40px;
}

.unit-actions {
  margin-right: 0;
  margin-left: auto;
  width: fit-content;
}

.unit-header {
  position: relative;
  display: flex;
  justify-content: space-between;

  .edit-btn {
    margin-right: 26px;
  }

  .show-more {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    vertical-align: middle;
    padding: 3px;

    &.active,
    &:hover {
      background-color: #f8f8f8;
    }

    &:focus {
      outline: none;
    }
  }

  .delete-property {
    position: absolute;
    top: 50px;
    right: 0px;
    font-family: "Montserrat-Regular";
    font-size: .85rem;
    font-weight: 400;
    color: $error;
    background-color: #fff;
    border: 1px solid #efefef;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 14px 18px;

    img {
      vertical-align: middle;
      padding-right: 8px;
    }
  }
}

.single-unit-info {

  .utilities {
    p,
    span {
      font-size: 0.85rem;
      color: $main-title;
    }

    p {
      font-family: 'Montserrat-Medium';
      font-weight: 600;
      padding: 0 0 8px 0;
      margin: 0;
    }

    span {
      font-family: 'Montserrat-Regular';
      font-weight: 400;
      color: $main-title;
    }
  }
}

.bedrooms-prices {
  width: 467px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;

  p {
    width: 100%;
    font-family: 'Montserrat-Regular';
    font-size: 0.85rem;
    font-weight: 600;
    color: $main-title;
    padding: 10px 0;
    margin: 0;
  }

  .bedroom {
    width: 225px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;

    &__name,
    &__price {
      font-family: 'Montserrat-Regular';
      font-size: 0.85rem;
      font-weight: 400;
      color: $main-title;
    }

    &:nth-child(n + 4) {
      border-top: 1px solid #efefef;
    }

    &.editable {
      width: 100%;
      border: 1px solid #efefef;
      border-bottom: none;

      &:nth-of-type(1) {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom: 1px solid #efefef;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

.sq-feet {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;

  .title {
    font-family: 'Montserrat-Medium';
    font-weight: 600;
    padding: 0 0 8px 0;
  }

  .area {
    font-family: "Montserrat-Regular";
    font-size: .85rem;
    font-weight: 400;
    color: $main-title;
  }
}

table.units-table {
  border: 1px solid #efefef;

  &.single {
    width: auto;
    margin-bottom: 20px;
  }

  &.editable {
    width: 100%;
  }

  th {
    font-weight: 600;
  }

  td.unit-name,
  td.unit-active-listing {
    display: flex;
    justify-content: space-between;
  }

  .input-toggle {
    height: fit-content;
    margin: auto 0;
  }

  .expanded-unit-info {
    display: flex;

    .unit-left-block {
      width: 250px;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 32px;

      .media-carousel {
        height: 200px;
        position: relative;

        .control-arrow {
          width: 32px;
          height: 32px;

          &:focus {
            opacity: 0.5;
          }

          &::before {
            width: 9px;
            height: 9px;
            position: absolute;
            top: 9px;
          }

          &.control-prev {
            padding-top: 2px;
            padding-left: 11px;

            &::before {
              left: 11px;
            }
          }

          &.control-next {
            padding-top: 2px;
            padding-right: 11px;

            &::before {
              right: 12px;
            }
          }
        }

        .image-container {
          height: 200px;
        }

        .photos-count {
          font-size: 0.75rem;
          bottom: 8px;
          padding: 2px 14px;
          margin-left: 34%;
        }
      }

      .apply-btn {
        width: 190px;
        margin: 14px auto auto;
      }
    }

    .unit-main-block {
      width: 100%;
      display: flex;
      flex-direction: column;

      .bedrooms-prices,
      .utilities,
      .amenities,
      .unit-description {
        margin-top: 40px;

        &:first-of-type {
          margin-top: 0;
        }

        p,
        span {
          font-size: 0.85rem;
          color: $main-title;
        }

        p {
          font-family: 'Montserrat-Medium';
          font-weight: 600;
          padding: 0 0 8px 0;
          margin: 0;
        }

        span {
          font-family: 'Montserrat-Regular';
          font-weight: 400;
          color: $main-title;
        }
      }

      .bedrooms-prices {
        margin-top: 0;

        .bedroom.view {
          padding-left: 0;
        }
      }

      .amenities {

      }

      .unit-description {
        padding-bottom: 12px;

        p {
          padding-bottom: 16px;
        }
      }
    }

    @media (max-width: 965px) {
      flex-direction: column;

      .unit-left-block {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0 0 20px;

        .media-carousel {
          max-width: 250px;
        }

        .apply-btn {
          margin: auto;
        }
      }

      .unit-main-block {

      }
    }
  }

  .edit-description {
    resize: none;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserrat-Regular";
    font-size: 0.85rem;
    color: #3B3B3B;
    border: 1px solid #efefef;
    border-radius: 8px;
    padding: 12px 14px;

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }
}