@import '../../styles//variables.scss';

.personal-application {
  display: flex;
  width: 100%;
  padding: 48px 0 36px 0;
  flex-direction: column;
  align-items: center;

  header {
    margin: 48px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.3rem;
      font-family: 'Coolvetica-Regular';
      color: $main-title;
      text-align: center;
      margin: 14px 0;
    }

    p {
      font-family: 'Montserrat-Light';
      color: #000;
      font-size: 0.85rem;
      text-align: center;
      max-width: 560px;
      margin: 0;
    }
  }

  .student-application-menu {
    width: 80%;
    display: flex;
    margin-bottom: 32px;

    .active {
      background: #FFFFFF;
      color: #000;
    }

    button {
      padding: 14px 22px;
      width: 100%;
      background-color: #F8F8F8;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border: 1px solid #EFEFEF;
      color: #CDCECF;
      font-size: .85rem;
      font-family: 'Montserrat-Medium';

      &:focus {
        outline: none;
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 48px;

    .btn {
      padding: 14px 34px;
    }

    .back-button,
    .draft-button {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;
    }

    .back-button {
      margin: 0 auto 0 0;
    }

    .next-button {
      margin-left: 12px;
    }
  }
}
