@import "../../../styles/variables.scss";

.units-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 30px 60px;

  @media (max-width: 500px) {
    padding: 0 0 60px;
  }

  header {
    h1 {
      text-align: center;
      font-family: "Coolvetica-Regular";
      font-size: 2.25rem;
      font-weight: 400;
      color: $main-title;
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .unit-container {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #efefef;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      margin: 48px 0 0;
      padding: 0 32px;

      .input-field {
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 12px 14px;
        font-size: 0.85rem;
        color: $main-title;
        font-family: "Montserrat-Regular";

        &:focus {
          outline: none;
          border: 1px solid $primary;
        }
      }

      .unit-media {
        width: 100%;
        margin-top: 26px;

        span {
          font-family: "Coolvetica-Regular";
          font-size: .95rem;
          margin: 0;
          font-weight: 400;
          color: #3B3B3B;
          padding-bottom: 16px;
          display: block;
        }
      }

      .amenities,
      .unit-description {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 48px;

        p,
        .input-label {
          font-family: "Coolvetica-Regular";
          font-size: .95rem;
          font-weight: 400;
          color: $main-title;
          padding-bottom: 16px;
          margin: 0;
        }

        .input-field {
          &.description {
            resize: none;
            height: 120px;
          }
        }
      }

      .unit-description {
        position: relative;
        padding-bottom: 20px;
      }

      .hl {
        width: 100%;
        border-top: 1px solid #efefef;
        margin-top: 25px;
      }

      .expand-buttons {
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: flex-start;

        .delete-unit {
          color: #cdcecf;
          margin: 0 0 0 auto;
        }

        @media (max-width: 600px) {
          flex-direction: column;
          height: auto;

          .btn-link {
            width: fit-content;
            margin-top: 8px;

            &.delete-unit {
              margin: 0 0 12px auto;
            }
          }
        }
      }
    }

    .add-unit-button {
      width: 110px;
      align-self: start;
      background-color: transparent;
      font-family: "Montserrat-Medium";
      font-size: 0.85rem;
      color: $primary;
      margin: 18px 0 0 0;
      padding: 0;

      img {
        vertical-align: middle;
        padding-right: 9px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
