@import "./normalize.css";
@import "./fonts.scss";
@import "./variables.scss";

// 14px = .85
// 16px = .95
// 24px = 1.25

html,
body {
  height: 100%;

  #root {
    height: 100%;

    .app {
      height: 100%;
    }
  }
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  font-size: 0;
}

input {
  &:focus {
    outline: none;
    border: 1px solid $primary !important;
  }
}

.btn {
  padding: 14px 18px;
  background-color: $primary;
  border-radius: 26px;
  color: #fff;
  font-family: "Montserrat-Medium";
  font-size: 0.85rem;

  &:hover {
    cursor: pointer;
    opacity: 0.95;
  }

  &:focus {
    outline: none;
  }
}

.btn-link {
  background-color: transparent;
  color: $primary;
  font-family: "Montserrat-Medium";
  font-size: 0.85rem;

  &:hover {
    cursor: pointer;
    opacity: 0.95;
  }

  &:focus {
    outline: none;
  }
}

.input-field--error {
  border: 1px solid $error !important;
}

.input-filed-text-error,
.input-hint {
  position: absolute;
  overflow: hidden;
  padding: 4px 0 0 0;
  margin: 0;
  color: $error;
  font-family: "Montserrat-Regular";
  font-size: 0.65rem;
  align-self: flex-end;
  bottom: 4px;
  right: 0;
}

.input-hint {
  color: $main-title;
  left: 0;
  right: auto;
  align-self: flex-start;
}

.checkbox-field-error {
  & ~ .checkmark {
    border: 1px solid $error !important;
  }
}

.input-checkbox,
.input-radio {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 26px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat-Regular";
  font-size: 0.85rem;

  a {
    text-decoration: none;
    padding: 0 3px;
    color: $primary;
    font-family: "Montserrat-Medium";
    font-size: 0.85rem;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    & ~ .checkmark {
      background-color: #fff;
    }

    &:checked ~ .checkmark {
      background-color: $primary;
    }
  }

  .checkmark {
    position: absolute;
    top: -1 !important;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    // &:after {
    //   left: 9px;
    //   top: 5px;
    //   width: 5px;
    //   height: 10px;
    //   border: solid white;
    //   border-width: 0 3px 3px 0;
    //   -webkit-transform: rotate(45deg);
    //   -ms-transform: rotate(45deg);
    //   transform: rotate(45deg);
    // }
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.input-radio {
  .radio {
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #efefef;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  input:checked ~ .radio {
    border-color: $primary;
  }

  input:checked ~ .radio:after {
    display: block;
    width: 12px;
    height: 12px;
    background-color: $primary;
    border-radius: 50%;
    top: 2px;
    left: 2px;
  }
}

.input-toggle {
  display: block;
  position: relative;
  font-family: "Montserrat-Regular";
  font-size: 0.85rem;
  cursor: pointer;
  user-select: none;
  padding-right: 56px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: #6fcf97;

    &:after {
      left: 22px;
    }
  }

  .control {
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 24px;
    width: 44px;
    border-radius: 12px;
    background-color: #efefef;
    transition: background-color .15s ease-in;

    &:after {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #f8f8f8;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
      transition: left .15s ease-in;
    }
  }
}

.wrapper-container {
  width: 1048px;
  margin: auto;
  padding: 0 40px 40px;
  box-sizing: border-box;

  @media screen and (max-width: $lg-desktop) {
    width: 100%;
  }
}

.select-block {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__label {
    color: $main-title;
    font-family: "Montserrat-Medium";
    font-size: 0.85rem;
    padding: 0 0 8px 0;
  }
  .select-with-icon {
    display: flex;
    align-items: center;

    .select {
      border: 1px solid #efefef;
      border-radius: 8px;
      width: 100%;
      padding: 12px 14px;
      font-size: 0.85rem;
      color: $main-title;
      font-family: "Montserrat-Regular";
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";

      [disabled] {
        color: red;
      }
      &:invalid {
        color: red;
      }

      &::-ms-expand {
        display: none;
      }

      &:focus {
        outline: none;
        border: 1px solid $primary;
      }
    }
    img {
      align-items: center;
      display: flex;
      background-color: transparent;
      position: absolute;
      right: 0;
    }
  }
}

.search-input {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;

  .search-icon {
    cursor: default;
    background-color: $primary-grey;
    border: 1px solid #efefef;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 0 0 14px;
  }

  .input-field {
    font-family: "Montserrat-Regular";
    font-size: .85rem;
    font-weight: 400;
    border: 1px solid #efefef;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $primary-grey;
    padding: 8.5px 14px 8.5px 10px;

    &:focus {
      outline: none;
      background-color: #fff;
      border: 1px solid #efefef !important;
      border-left: none !important;
    }
  }
}

.modal {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin: auto;
  padding: 16px;

  &:focus {
    outline: none;
  }

  .title, p {
    color: $main-title;
    font-family: "Montserrat-Regular";
    margin: 0;
  }

  .info-text {
    margin: 8px auto;
    p {
      font-size: .85rem;
      padding: 8px 0;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;

    .cancel-btn {
      color: $primary;
      background-color: transparent;
      border: 1px solid $primary;
      margin-left: 12px;
    }
  }
}
