@font-face {
  font-family: 'Coolvetica-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/CoolveticaRg-Regular.ttf') format("truetype");
}

// 800
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Montserrat-Bold.ttf') format("truetype");
}

// 400
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Montserrat-Regular.ttf') format("truetype");
}


@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Montserrat-Light.ttf') format("truetype");
}

// 600
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Montserrat-Medium.ttf') format("truetype");
}
