$primary: #787ae3;
$secondary: #8288f4;
$tertiary: #5f77af;
$black: #000000;

$main-title: #3B3B3B;

$primary_grey: #f8f8f8;
$primary_light: #f1f2fc;

$active: #6fe526;

$error: #EB5757;

//Screen breakpoints:

$mobile: 325px;
$tablet: 480px;
$sm-desktop: 768px;
$desktop: 1024px;
$lg-desktop: 1200px;