@import "../../styles/variables.scss";

.my-properties-container {
  display: flex;
  flex: 1;
  //width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
  position: relative;

  .show-list {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    z-index: 30;
  }

  .my-properties-list {
    display: flex;
    //flex: .2;
    flex-direction: column;
    width: 20%;
    height: 100%;
    box-sizing: border-box;

    @media (min-width: $desktop) {
      min-width: 385px;
    }
  }

  .my-property-info {
    display: flex;
    //flex: .8;
    width: 80%;
    height: 100%;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 100%;
    }
  }
}