@import "../../../styles/variables.scss";

.unit-main-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 28px;

  .input,
  .select-block.bedrooms,
  .select-block.bathrooms {
    margin-right: 20px;
    width: 136px;

    select {
      background-color: transparent;
    }

    @media (max-width: 500px) {
      width: 300px;
    }
  }

  .unit-name-input {
    width: 180px;
  }

  .unit-price-input {
    margin-right: 40px;
  }

  .vl {
    border-left: 0.5px solid #e5e5e5;
    margin: 0 20px 20px 0;
  }

  .input,
  .select-block {
    display: flex;
    flex-direction: column;
    position: relative;

    .select-block__label,
    .input-label {
      color: $main-title;
      font-family: "Montserrat-Medium";
      font-size: 0.85rem;
      padding: 0 0 8px 0;
    }

    .input-field {
      border: 1px solid #efefef;
      border-radius: 8px;
      padding: 12px 14px;
      font-size: 0.85rem;
      color: $main-title;
      font-family: "Montserrat-Regular";

      &:focus {
        outline: none;
        border: 1px solid $primary;
      }
    }
  }

  .utilities-checkbox {
    display: flex;

    .input-checkbox {
      box-sizing: border-box;
      padding-bottom: 35px;
      margin-top: auto;

      .input-filed-text-error {
        bottom: 5px;
      }
    }
  }

  .utilities-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    p {
      font-family: "Montserrat-Medium";
      font-size: 0.85rem;
      color: $main-title;
      box-sizing: border-box;
      margin: 0;
    }

    .utilities-list {
      width: 670px;
      display: flex;
      flex-wrap: wrap;

      label {
        width: 140px;
        box-sizing: border-box;
        padding-top: 16px;
        margin-right: 20px;
      }
    }

    @media (max-width: $sm-desktop) {
      .utilities-list {
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }

  .rent-options-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
      font-family: "Montserrat-Medium";
      font-size: 0.85rem;
      color: $main-title;
      margin: 0;
      padding-bottom: 16px;
    }

    .rent-options {
      width: 100%;
      display: flex;
      flex-direction: column;

      .radio-buttons {
        display: flex;
        margin-bottom: 22px;

        .input-checkbox:first-of-type {
          margin-left: 0;
          margin-right: 30px;
        }
      }

      .price-options {
        display: flex;
        flex-wrap: wrap;

        .bedroom-price-input {
          display: flex;
          flex-direction: row;
          width: fit-content;
          padding-bottom: 22px;

          label {
            height: 16px;
            font-family: "Montserrat-Regular";
            white-space: nowrap;
            padding: 12px 8px 12px 0;
          }

          input {
            width: 106px;
            height: 16px;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;

    .input,
    .selector {
      width: 300px;
      max-width: 100%;
      margin-right: 0;
    }

    .vl {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    .radio-buttons {
      flex-direction: column;

      .input-checkbox {
        margin-bottom: 16px;
      }

      .input-toggle {
        width: fit-content;
      }
    }

    .price-options {
      margin-top: 22px;
    }
  }
}
