@import "../../styles/variables.scss";

.property-card {
  border-radius: 8px;
  padding: 16px;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
  }

  &.list-card {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;

    .main-info {
      display: flex;
      flex-direction: column;

      h4 {
        font-family: "Montserrat-Medium";
        font-size: 1.4rem;
        font-weight: 600;
        color: $main-title;
        margin: 0;
      }

      p {
        font-family: "Montserrat-Regular";
        font-size: 1rem;
        font-weight: 400;
        color: $main-title;
        margin: 4px 0 8px;
      }
    }

    .actions {
      display: flex;
      z-index: 1;
      position: relative;

      img {
        width: 26px;
        height: 24px;
        vertical-align: middle;

        &.share-button {
          padding-right: 11px;
        }

        &.save-to-fav-button {
          padding-left: 11px;
        }
      }

      .share-property {
        top: 30px;
        left: auto;
        right: -40px;
      }
    }
  }

  .card-content {
    display: flex;

    .card-image {
      position: relative;
      height: fit-content;
      // width: 50%;
      max-width: 50%;
      min-width: 50%;

      img {
        object-fit: cover;
        width: 100%;
        height: 216px;
        border-radius: 8px;

        &:hover {
          outline: none;
        }
      }

      .photos-count {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-family: "Montserrat-Regular";
        font-weight: 600;
        font-size: 0.75rem;
        background-color: #fff;
        border-radius: 16px;
        padding: 4px 12px;
      }
    }

    .property-info {
      display: flex;
      flex-direction: column;
      padding: 2px 0 0 12px;

      p {
        font-family: "Montserrat-Medium";
        font-weight: 600;
        color: $main-title;
        margin: 0;
      }

      span {
        font-family: "Montserrat-Regular";
        font-weight: 400;
        font-size: 0.75rem;
      }

      .price {
        font-size: 1.25rem;
        padding: 14px 0;
      }

      .rooms {
        font-size: 0.85rem;
        padding-bottom: 12px;
      }

      .amenities {
        font-size: 0.85rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 16px 0 0;
      }

      .send-message-btn {
        background-color: transparent;
        color: $primary;
        border: 1px solid $primary;
        margin: auto 0 0;

        &:hover {
          background-color: $primary;
          color: #fff;
        }
      }
    }
  }

  .show-on-map-btn {
    padding-top: 8px;
  }

  &.map-card {
    @media (max-width: 550px) {
      .card-content {
        flex-direction: column;

        .card-image {
          max-width: 100%;
        }

        .send-message-btn {
          margin-top: 14px;
        }
      }
    }

    @media (max-width: $tablet) {
      padding: 4px;
    }
  }
}
