@import '../../styles/variables.scss';

.close-modal {
  position: absolute;
  right: -5px;
  top: -2px;

  img {
    margin-bottom: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.full-media {
  max-width: 658px;
  min-width: 368px;
  height: auto;

  @media (max-width: $tablet) {
    max-width: 100%;
    min-width: 100%;
  }
}

.upload-media {
  display: flex;
  flex-direction: column;
  width: 100%;

  .hidden {
    display: none;
  }

  .input-field {
    border: 1px solid #efefef;
    border-radius: 8px;
    padding: 6px 14px;
    font-size: 0.85rem;
    color: $main-title;
    margin: 4px 0;
    font-family: 'Montserrat-Regular';

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }

  .drag_on {
    opacity: 0.4;
  }

  &__drag-n-drop {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 1px solid #efefef;
    padding: 48px 18px;
    border-radius: 8px;

    div {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      img {
        width: 30px;
        margin-right: 8px;
      }

      p {
        color: $main-title;
        font-size: 0.95rem;
        font-family: 'Montserrat-Medium';
      }

      button {
        padding: 0;
        font-family: 'Montserrat-Bold';
        font-size: 0.95rem;
      }
    }

    p {
      margin: 0;
      font-family: 'Montserrat-Regular';
      font-size: 0.8rem;
      color: $main-title;
      padding: 2px;
    }
  }

  &__preview {
    display: flex;
    overflow-x: scroll;
    // width: 100%;

    div {
      position: relative;

      .delete-media {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        background-color: $error;

        &:hover {
          cursor: pointer;
        }
      }

      img,
      video,
      iframe {
        width: 116px;
        height: 116px;
        object-fit: cover;
        border-radius: 8px;
        margin: 16px 16px 0 0;
        z-index: 2;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }

      &:hover .delete-media {
        display: block;
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;

    .media-input {
      display: flex;
      width: 360px;
      padding-bottom: 20px;
      position: relative;
    }

    .input-field {
      width: 100%;
      box-sizing: border-box;

      &__button {
        border: 0;
        margin-left: 8px !important;
        padding-bottom: 20px;

        &:focus {
          outline: none;
          border: none;
        }
      }
    }
  }
}
