@import "../../styles/variables.scss";

.share-property {
  position: absolute;
  top: 50px;
  left: -80px;
  z-index: 100;
  width: max-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;

  h4 {
    font-family: "Coolvetica-Regular";
    font-size: 1.25rem;
    font-weight: 400;
    color: $main-title;
    margin: auto 0 10px;
  }

  .share-actions {
    display: flex;
    justify-content: space-between;


    .copy-link {
      //width: fit-content;
      padding: 0;
      margin-right: 10px;

      img.copy-img {
        margin: 0;
      }
    }
  }

  .share-url {
    width: .1px;
    height: .1px;
    color: #fff;
    border: none;

    &:focus {
      outline: none;
      border: none !important;
    }
  }
}

