
.amenities {

  .amenities-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .amenity-option {
      width: 245px;
      padding: 8px 0;

      img {
        width: 38px;
        height: 38px;
        vertical-align: middle;

        &.clickable:hover {
          cursor: pointer;
        }
      }

      span {
        font-family: "Montserrat-Regular";
        font-size: .85rem;
        padding-left: 8px;
      }

    }
  }
}