@import '../../styles//variables.scss';

.range-selector {
  display: flex;
  flex-direction: column;
  position: relative;

  .input-label {
    color: $main-title;
    font-family: 'Montserrat-Medium';
    font-size: 0.85rem;
    padding: 0 0 8px 0;
  }

  .input-field {
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 14px;
    font-size: 0.85rem;
    color: $main-title;
    font-family: 'Montserrat-Regular';

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }
  button {
    position: absolute;
    right: 0px;
    top: 6px;
    background-color: transparent;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  .range {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    max-height: 196px;
    overflow-y: scroll;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    z-index: 20;
    width: 100%;
    top: 70px;
    box-sizing: border-box;

    span {
      font-size: .8rem;
      width: 70px;
      text-align: center;
      color: #000;
      font-family: 'Montserrat-Regular';
    }
    .rc-slider {
      margin: 0 6px;
      .rc-slider-rail {
        height: 2px;
        background-color: #efefef;
      }
      .rc-slider-track {
        background-color: $primary;
        height: 2px;
      }
      .rc-slider-handle {
        margin-top: -7px;
        background-color: $primary;
        border: none;
        width: 16px;
        height: 16px;
        box-shadow: none !important;
      }
    }
  }
}
