.conversations {
  height: calc(100vh - 60px);
  display: flex;
  box-sizing: border-box;
  overflow: hidden;

  .application-block {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}