@import '../../styles//variables.scss';

.property-map-view {
    height: auto;
    display: flex;
    flex: .6;
    position: relative;

    .rentals-available {
        position: absolute;
    }

    .google-map {
        height: 100%;
        display: flex;
        flex: 1;

        .gm-fullscreen-control,
        .gm-style-mtc,
        .gm-svpc {
            display: none;
        }

        div[tabindex="0"]:focus,
        div[tabindex="-1"]:focus {
            outline: none;
        }
    }
}
