@import '../../styles/variables.scss';

.header {
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: overlay;
  overflow-y: hidden;

  &__logo {
    width: 80px;
  }

  .name {
    color: $main-title;
    font-family: 'Montserrat-Medium';
    padding-left: 6px;
    font-size: .95rem;

    @media (min-width: $tablet) {
      padding-left: 36px;
    }
  }

  .dropdown-menu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #efefef;
    padding: 18px 22px;
    right: 30px;
    right: 15px;
    top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 40;

    button {
      background-color: transparent;
      font-size: .95rem;
      color: $main-title;
      font-family: 'Montserrat-Regular';
      text-align: start;
      padding: 6px 0;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .logout {
      color: $error;
    }
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .favorites {
      align-items: center;
      display: flex;

      img {
        padding-left: 6px;
        margin-left: 0;

        @media (min-width: $tablet) {
          padding-left: 36px;
        }
      }

      span {
        color: #CDCECF;
        font-size: .95rem;
        font-family: "Montserrat-Medium";
        padding-left: 4px;
        text-decoration: none;
        text-transform: none;
      }
    }

    button {
      display: contents;
    }

    .btn {
      display: block;
      padding: 14px 18px;
      background-color: $primary;
      border-radius: 26px;
      margin-left: 16px;


      a {
        color: #fff;
        font-family: "Montserrat-Medium";
        font-size: 0.85rem;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.95;
      }

      &:focus {
        outline: none;
      }
    }


    img {
      width: 20px;
      margin-left: 8px;
    }
  }
}
