@import '../../../styles/variables.scss';

.property-selector {
  position: relative;
  max-width: 60%;

  &__item {
    display: flex;
    align-items: center;
    padding-right: 60px;

    img {
      background-color: #efefef;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-right: 8px;
    }

    h3 {
      width: 100%;
      margin: 0;
      font-family: 'Montserrat-Medium';
      color: $primary;
      font-size: .85rem;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    h5 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      width: 100%;
      color: $main-title;
      font-size: .8rem;
      font-family: 'Montserrat-Regular';
    }

    &:hover {
      background-color: $primary_grey;
    }

  }

  &__options {
    max-height: 196px;
    width: 315px;
    overflow-y: scroll;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    z-index: 20;
    top: 62px;
    right: 0;
    box-sizing: border-box;
    padding: 16px 12px 8px 12px;

    h3 {
      overflow: hidden !important;
      text-overflow: ellipsis;
      width: 80%;
    }
  }

  &:hover {
    cursor: pointer;
  }
}