@import '../../styles//variables.scss';
.additional-filtering-tab {
  position: absolute;
  width: 75vw;
  background: #ffffff;
  border-radius: 8px;
  padding: 32px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  top: 120px;
  z-index: 1;
  height: 70vh;
  

  &__scroll {
    overflow-y: scroll;
    max-height: calc(70vh - 100px);
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

  }
  &__item {
    margin-bottom: 48px;
    span {
      font-family: 'Coolvetica-Regular';
      font-size: 0.95rem;
      margin: 0;
      font-weight: 400;
      color: #3b3b3b;
      padding-bottom: 16px;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-neighborhoods {
      display: flex;
      flex-wrap: wrap;

      label {
        width: 150px;
        min-width: 124px;
        margin-bottom: 12px;
        margin-right: 20px;

      }
    }

    &-square {
      width: 20%;
      display: flex;

      .input {
        padding-bottom: 0;
        width: 100px;
        margin-right: 8px;

        input {
          font-size: .85rem;
        }
      }
    }
  }

  .input-checkbox {
    span {
      font-family: 'Montserrat-Regular';
      font-size: 0.85rem;
      padding-bottom: 0;
    }
  }

  .amenities-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .amenity-option {
      display: flex;
      align-items: center;
      width: 280px;
      padding: 8px 0;
      img {
        vertical-align: middle;
        width: 38px;
        height: 38px;
      }

      span {
        font-family: 'Montserrat-Regular';
        font-size: 0.85rem;
        padding-bottom: 0;
        padding-left: 8px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__actions {
    position: absolute;
    padding: 8px 16px;
    width: 100%;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    left: 0;
    box-sizing: border-box;

    button {
      padding: 14px 32px;
    }

    .draft-button {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;
      margin-right: 12px;
  }
  }
}
