@import '../../styles//variables.scss';

.favorites-page {
  width: 100%;
  background-color: #f8f8f8;
  height: 100%;
  display: contents;

  .properties-container {
    height: auto;
    overflow: hidden;
    display: flex;
    flex: 1;
    height: calc(100% - 60px);
  }
}
