@import "../../styles//variables.scss";


.my-property-card {
  display: flex;
  border-radius: 8px;
  padding: 16px;

  &.active {
    background-color: #f8f8f8;
  }

  .cover-image {
    position: relative;
    width: fit-content;
    height: fit-content;
    max-height: 54px;
    object-fit: cover;
    margin: auto 0;

    img {
      width: 54px;
      height: 54px;
      border-radius: 8px;
    }

    .active-listing {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      bottom: -2px;
      right: -2px;

      &.active {
        background-color: $active;
      }

      &.inactive {
        background-color: $error;
      }
    }
  }

  .property-information {
    display: flex;
    align-items: flex-start;
    padding-left: 16px;

    .property-name {
      font-family: "Montserrat-Medium";
      font-size: .95rem;
      font-weight: 600;
      text-align: left;
      margin: 0;
      padding: 8px 0;
    }

    .property-address {
      font-family: "Montserrat-Regular";
      font-size: .85rem;
      font-weight: 400;
      padding-bottom: 8px;
    }
  }
}
