@import '../../../styles/variables.scss';

.message {
  margin: 4px 0;
  align-self: flex-start;
  max-width: 60%;

  &__block {
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #F8F8F8;

    &__txt {
      font-size: .85rem;
      font-family: 'Montserrat-Regular';
    }

    &__system {
      align-self: center;
      background-color: #F8F8F8;
      color: #CDCECF;
      font-size: .8rem;
      text-align: center;
      border-radius: 8px;
      padding: 12px;
      width: 70%;
      font-family: 'Montserrat-Regular';
      margin: 8px;
    }

    &__img {
      width: 100%;
      max-width: 235px;
      object-fit: contain;
    }
  }
}