@import '../../styles/variables.scss';

.filtering-tab {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  //flex-wrap: wrap;

  &__show-more {
    position: relative;
    width: 120px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 8px;
    padding:8.5px 14px;
    box-sizing: border-box;

    span {
      color: $main-title;
      font-family: 'Montserrat-Regular';
      font-size: 0.85rem;
    }

    img {
      position: absolute;
      right: 0px;
      top: 6px;
      background-color: transparent;
      padding: 0;
    }

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
  &__main {
    display: flex;
    align-items: center;

    &-buttons {
      padding-right: 8px;
      .active {
        background-color: $primary;
        color: #fff;
        font-family: 'Montserrat-Medium';
      }
      button {
        background-color: transparent;
        border: 1px solid $primary;
        border-radius: 8px;
        padding: 6px 0;
        font-family: 'Montserrat-Regular';
        font-size: .95rem;
        color: $primary;
        min-width: 180px;

        &:focus {
          outline: none;
        }
        &:first-child {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        &:last-child {
          border-left: transparent;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }

    &-selectors {
      display: flex;
      flex-direction: row;
    }
  }
  &__additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .my-filtering {
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 0 12px;
      border-right: 1px solid #EFEFEF;

      span {
        font-size: .85rem;
        color: $primary;
        font-family: 'Montserrat-Medium';
      }

      &:focus {
        outline: none;
      }
    }
  }
  &__save-filters {
    overflow-y: scroll;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    z-index: 20;
    width: 140px;
    width: 180px;
    margin-left: -60px;
    top: 120px;
    box-sizing: border-box;
    padding: 10px 14px;

    button {
      background-color: transparent;
      color: $primary;
      font-size: 0.85rem;
      
      font-family: 'Montserrat-Medium';
      text-align: left;

      &:first-child {
        margin-bottom: 12px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: $lg-desktop) {
  .filtering-tab {
    flex-direction: column;
    align-items: flex-start;

    &__main-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__additional {
      margin-top: 12px;

      .my-filtering {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .filtering-tab {
    &__main {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 12px;

      &-selectors {
        margin-top: 12px;
        flex-wrap: wrap;
      }

      .filtering-tab__show-more,
      .selector,
      .range-selector {
        margin-bottom: 12px;
      }
    }

    &__additional {
      margin-top: 0;
    }
  }
}

@media (max-width: 400px) {
  .filtering-tab {
    &__main-buttons {
      display: flex;
      flex-direction: column;

      button {
        &:first-child {
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          margin-bottom: 12px;
        }

        &:last-child {
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          border-left: 1px solid $primary;
        }
      }
    }

  }
}
