@import "../../styles/variables.scss";

/*
units-mobile

  unit-section
    unit-header
      unit-name

    unit-main-info
      bedrooms
      bathrooms
      price

  expand-unit
*/

.units-mobile {
  span {
    font-family: 'Montserrat-Regular';
    font-size: .85rem;
    font-weight: 400;
    color: #3B3B3B;
  }

  .unit-section {
    padding: 16px 0;

    &:nth-child(n+2) {
      border-top: 2px solid #efefef;
    }

    .unit-header {
      display: flex;
      justify-content: space-between;

      .unit-name {
        font-family: 'Coolvetica-Regular';
        font-size: 1.25rem;
        font-weight: 400;
        color: $main-title;
        margin: 0;
      }

      .input-toggle {
        margin: auto 0;
      }
    }

    .unit-info {
      display: flex;
      flex-direction: column;

      .unit-bnb {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 16px;

        .bedrooms {
          margin-right: 12px;
        }
      }

      .unit-area,
      .price {
        margin-bottom: 16px;
      }
    }

    .expand-unit {
      padding: 0;

      img {
        vertical-align: middle;
      }
    }

    .expanded-unit {
      padding-top: 16px;

      &__header {
        display: flex;
        justify-content: space-between;

        .sq-feet {
          margin: 0;
        }

        .unit-actions {
          position: relative;
          height: fit-content;

          .edit-btn {
            margin-right: 12px;
            background-color: #fff;
            border: 1px solid $primary;
            color: $primary;
          }

          .show-more {
            vertical-align: middle;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: transparent;
            padding: 3px;

            &:hover {
              background-color: #efefef;
            }
          }

          .delete-property {
            position: absolute;
            top: 44px;
            right: 0;
            font-family: "Montserrat-Regular";
            font-size: .85rem;
            font-weight: 400;
            color: #EB5757;
            background-color: #fff;
            border: 1px solid #efefef;
            border-radius: 8px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
            padding: 14px 18px;
          }
        }
      }
      .section-title,
      .amenities .amenities-title {
        font-family: "Coolvetica-Regular";
        font-weight: 400;
        font-size: 0.95rem;
        color: #3B3B3B;
        margin: 20px 0 0;
      }

      .bedrooms-prices {
        width: 100%;
      }

      .apply-btn {
        margin: 20px 0 0;
      }
    }

    &.edit {
      flex-direction: row;

      .radio-buttons {
        flex-wrap: wrap;
        margin: 0;
      }

      .section-title,
      .amenities .amenities-title {
        font-family: "Coolvetica-Regular";
        font-weight: 400;
        font-size: 0.95rem;
        color: #3B3B3B;
        margin: 20px 0 0;
      }

      .unit-description .edit-description {
        resize: none;
        height: 120px;
        width: 100%;
        box-sizing: border-box;
        font-family: "Montserrat-Regular";
        font-size: 0.85rem;
        color: #3B3B3B;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 12px 14px;
      }

      @media (max-width: 500px) {
        flex-direction: column;

        .input {
          width: 300px;
        }
      }

      @media (max-width: $sm-desktop) {
        .utilities-list {
          width: 100%;
          flex-wrap: wrap;
        }
      }

      @media (max-width: $tablet) {
        .radio-buttons {
          flex-direction: column;

          .input-checkbox {
            margin-bottom: 16px;
          }

          .input-toggle {
            width: fit-content;
          }
        }

        .price-options {
          margin-top: 22px;
        }
      }
    }
  }

  .single-unit-info-mobile {
    .section-title {
      font-family: "Coolvetica-Regular";
      font-weight: 400;
      font-size: 0.95rem;
      color: #3B3B3B;
      margin: 0;
    }

    .bedrooms-prices {
      width: 100%;

      .bedroom.view {
        padding-left: 0;
      }
    }
  }

  .apply-btn {
    margin: 20px 0 0;
  }
}