@import '../../../styles/variables.scss';

.campuses-distance {
  width: 100%;
  margin-top: 48px;

  .preview-title {
    font-family: 'Coolvetica-Regular';
    font-size: 1.25rem;
    font-weight: 700;
    color: $main-title;
    padding-bottom: 16px;
    margin: 0;
  }

  span {
    font-family: 'Coolvetica-Regular';
    font-size: 0.95rem;
    margin: 0;
    font-weight: 400;
    color: $main_title;
    padding-bottom: 16px;
    display: block;
  }

  .campuses-list {
    display: flex;
    flex-direction: column;

    .campuses-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      box-sizing: border-box;
      padding-bottom: 24px;

      &__title {
        font-family: 'Montserrat-Medium';
        font-size: 0.85rem;
        margin: 0;
        font-weight: 400;
        color: $main_title;
        width: 30%;
        margin-right: 12px;
        padding-bottom: 0;

        &:last-child {
          padding-bottom: 0;
        }
      }

      .distances-list {
        display: flex;

        .distance {
          display: flex;
          align-items: center;
          margin-right: 38px;

          img {
            vertical-align: middle;
            margin-right: 8px;
          }

          span {
            font-size: 0.85rem;
            font-family: 'Montserrat-Regular';
            color: $main_title;
            padding: 0;
          }
        }
      }

      &:nth-last-child(1) {
        padding-bottom: 0;
      }

      @media (max-width: $sm-desktop) {
        flex-direction: column;
        align-items: flex-start;

        .campuses-item__title {
          width: 100%;
          margin-bottom: 12px;
        }
      }
    }
  }
}
