@import '../../../styles//variables.scss';

.personal-application-preview {
  .title {
    font-size: 1.25rem;
    font-family: 'Coolvetica-Regular';
    color: $main-title;
    text-align: center;
    margin: 14px 0;
    margin-bottom: 24px;
    text-align: start;
  }

  .question {
    font-size: .85rem;
    color: #3B3B3B;
    font-family: 'Montserrat-Medium';
    margin-bottom: 8px;
  }

  .answer {
    font-size: .9rem;
    color: #3B3B3B;
    font-family: 'Montserrat-Regular';
    margin-bottom: 16px;
  }

  .navigation {
    width: 800px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    margin-top: 48px;

    .btn {
      padding: 14px 34px;
    }

    .back-button,
    .draft-button {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;
    }

    .back-button {
      margin: 0 auto 0 0;
    }

    .next-button {
      margin-left: 12px;
    }
  }
}