@import "../../../styles/variables.scss";

.navigation-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 48px;

  .btn {
    height: fit-content;
    padding: 14px 34px;
  }

  .back-button,
  .draft-button {
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
  }

  .back-button {
    margin: 0 auto 0 0;
  }

  .next-button {
    margin-left: 12px;
  }

  @media (max-width: 500px) {
    padding: 0 20px;
    box-sizing: border-box;
  }

  @media (max-width: 625px) {
    .next-button {
      margin-top: 16px;
    }
  }

  @media (max-width: $tablet) {
    .draft-button {
      margin-top: 16px;
    }
  }
}