@import "../../styles//variables.scss";

.tooltip-wrapper {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: fit-content;

    .tooltip {
        position: absolute;
        bottom: -40px;
        right: 0;
        border-width: 6px;
        border-radius: 16px;
        font-family: "Montserrat-Regular";
        font-weight: 400;
        font-size: 0.85rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 10;
        white-space: nowrap;
        padding: 8px;

        // &::before {
        //     content: "";
        //     left: 50%;
        //     bottom: 100%;
        //     height: 0;
        //     width: 0;
        //     position: absolute;
        //     pointer-events: none;
        //     border: solid transparent;
        //     border-bottom-color: rgba(0, 0, 0, 0.8);
        //     transform: translateX(-50%);
        // }
    }
}
