@import '../../styles//variables.scss';

.input {
  max-width: 380px;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  .input-label {
    color: $main-title;
    font-family: 'Montserrat-Medium';
    font-size: 0.85rem;
    padding: 0 0 8px 0;
  }

  .input-field {
    border: 1px solid #efefef;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 0.95rem;
    color: $main-title;
    font-family: 'Montserrat-Regular';
  }
}
