@import '../../styles/variables.scss';

.sign-up {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 110px 0;
  }

  header {
    margin-bottom: 48px;
    h1 {
      font-size: 2.3rem;
      font-family: 'Coolvetica-Regular';
      color: $main-title;
      text-align: center;
      margin: 14px 0;
    }
    .change-type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 38px;

      .active {
        background-color: #F1F2FC;
        border: 1px solid $primary;
        color: $primary;
      }

      button {
        width: 48%;
        background-color: transparent;
        border: 1px solid #EFEFEF;
        border-radius: 24px;
        color: $main-title;
        font-size: 0.85rem;
        font-family: 'Montserrat-Medium';
        padding: 14px 42px;
      }

      @media (min-width: $tablet) {
        width: 360px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;


    .input {
      position: relative;
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;

      .input-label {
        color: $main-title;
        font-family: 'Montserrat-Medium';
        font-size: 0.85rem;
        padding: 0 0 8px 0;
      }

      .input-field {
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 10px 12px;
        font-size: 0.95rem;
        color: $main-title;
        font-family: 'Montserrat-Regular';
      }

      .input-with-icon {
        display: flex;
        align-items: center;

        .input-field {
          border: 1px solid #efefef;
          border-radius: 8px;
          width: 100%;
          padding: 12px 14px;
          font-size: 0.85rem;
          color: $main-title;
          font-family: 'Montserrat-Regular';

          &:focus {
            outline: none;
            border: 1px solid $primary;
          }
        }

        button {
          align-items: center;
          display: flex;
          background-color: transparent;
          position: absolute;
          right: 0;

          &:focus {
            outline: none;
          }
        }
      }
    }

    &__name-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-items: center;


      @media (min-width: $tablet) {
        flex-direction: row;

        .name-block-input {
          width: 48%;
        }
      }
    }

    .sign-in-block {
      display: flex;
      align-items: center;
      p {
        font-family: 'Montserrat-Regular';
        font-size: 0.85rem;
        color: #000;
        margin: 0;
      }
    }

    .sign-up-btn {
      width: 220px;
      border-color: transparent;
      margin: 28px 0 20px 0;
    }

    @media (min-width: $tablet) {
      width: 360px;
      padding: 0 10px;
    }
  }

  .input-checkbox {
    display: flex;
    flex-wrap: wrap;
    font-size: .8rem;
    white-space: nowrap;

    @media (min-width: $tablet) {
      flex-wrap: nowrap;
    }
  }

}
