@import '../../styles/variables.scss';

.edit-personal-info {
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  box-sizing: border-box;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 110px;
  }

  header {
    margin-bottom: 48px;
    h1 {
      font-size: 2.3rem;
      font-family: 'Coolvetica-Regular';
      color: $main-title;
      text-align: center;
      margin: 14px 0;
    }
   
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 0 10px;

    
    .input {
      position: relative;
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;

      .input-label {
        color: $main-title;
        font-family: 'Montserrat-Medium';
        font-size: 0.85rem;
        padding: 0 0 8px 0;
      }

      .input-field {
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 10px 12px;
        font-size: 0.95rem;
        color: $main-title;
        font-family: 'Montserrat-Regular';
      }

      .input-with-icon {
        display: flex;
        align-items: center;

        .input-field {
          border: 1px solid #efefef;
          border-radius: 8px;
          width: 100%;
          padding: 12px 14px;
          font-size: 0.85rem;
          color: $main-title;
          font-family: 'Montserrat-Regular';

          &:focus {
            outline: none;
            border: 1px solid $primary;
          }
        }

        button {
          align-items: center;
          display: flex;
          background-color: transparent;
          position: absolute;
          right: 0;

          &:focus {
            outline: none;
          }
        }
      }
    }

    &__name-block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .name-block-input {
        width: 48%;
      }
    }
  }
  .edit-personal-info-btn {
    width: 220px;
    border-color: transparent;
    margin: 28px 0 20px 0;
  }
}
