@import '../../../styles/variables.scss';

.conversations-chat {
  height: 100%;
  border-left: 1px solid #CDCECF;
  border-right: 1px solid #CDCECF;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 0;
  }

  .close-modal {
    position: absolute;
    right: -5px;
    top: -2px;
  
    img {
      margin-bottom: 5px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }

  header {
    width: 100%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 12px 8px 12px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-family: 'Montserrat-Medium';
      font-size: .95rem;
      color: $main-title;
      margin: 0;
      padding-bottom: 8px;
    }
  }

  &__messages {
    flex: 1;
    overflow-y: scroll;
    min-height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__input-message {
    border-top: 1px solid #CDCECF;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;

    .file-upload {
      label {
        margin: 0;
      }
  
      input {
        display: none;
      }

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;

    textarea {
      flex: 1;
      resize: none;
      font-family: "Montserrat-Regular";
      font-size: .85rem;
      font-weight: 400;
      border: 1px solid #efefef;
      border-left: none;
      border-radius: 8px;
      background-color: $primary-grey;
      padding: 6px 14px;

      &:focus {
        outline: none;
      }
    }
  }
  }
}