@import "../../styles/variables.scss";

.my-property-view,
.units-view {
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 16px;

  &__main-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    .property-name {
      font-family: 'Coolvetica-Regular';
      font-size: 2.25rem;
      font-weight: 400;
      color: $main-title;
      margin: 0;
    }

    .btn {
      width: fit-content;
      height: fit-content;
      margin: auto 0 16px;
    }

    .edit-btn {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;

      &:hover {
        color: #fff;
        background-color: $primary;
      }
    }

    @media (min-width: 640px) {
      flex-direction: row;

      .btn {
        margin: auto 0;
      }
    }
  }

  .property-media,
  .property-description,
  .property-amenities {
    margin-top: 40px;
  }

  .section-title,
  .property-amenities .amenities-title {
    font-family: "Coolvetica-Regular";
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
    color: $main-title;
    margin: 0;
  }

  .no-data-added {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: .85rem;
    color: $main-title;
    margin: 14px 0 0;
  }

  .property-description {
    .description-text {
      font-family: "Montserrat-Regular";
      font-size: .85rem;
      color: $main-title;
      margin: 16px 0 0;
    }

    .edit-description {
      resize: none;
      height: 120px;
      width: 100%;
      box-sizing: border-box;
      font-family: "Montserrat-Regular";
      font-size: 0.85rem;
      color: #3B3B3B;
      border: 1px solid #efefef;
      border-radius: 8px;
      padding: 12px 14px;

      &:focus {
        outline: none;
        border: 1px solid $primary;
      }
    }
  }

  .add-unit-btn {
    margin-top: 24px;
  }

  @media (min-width: 576px) {
    padding: 40px;
  }
}

.units-view {
  margin-top: 16px;
}